@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    --header-height: 3.5rem;

    --first-color      : hsl(0, 100%, 54%);
    --first-color-alt  : hsl(0, 72%, 37%);
    --first-color-hover: hsl(0, 82%, 57%);


    --title-color     : #ffff;
    --text-color      : #686660;
    --text-color-light: #aaa79e;

    --body-color: #000;



    --body-font        : 'Poppins', sans-serif;
    --big-font-size    : 2rem;
    --h1-font-size     : 1.5rem;
    --h2-font-size     : 1.25rem;
    --h3-font-size     : 1rem;
    --normal-font-size : .938rem;
    --small-font-size  : .813rem;
    --smaller-font-size: .65rem;


    --font-medium   : 500;
    --font-semi-bold: 600;


    --mb-0-5 : .5rem;
    --mb-0-75: .75rem;
    --mb-1   : 1rem;
    --mb-1-5 : 1.5rem;
    --mb-2   : 2rem;
    --mb-2-5 : 2.5rem;

}

* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size  : var(--normal-font-size);
}

body {
    margin          : var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color           : var(--text-color);
    transition      : .4s;
    /*For animation dark mode*/
}

button {
    cursor : pointer;
    border : none;
    outline: none;
}

h1,
h2,
h3 {
    color      : var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height   : auto;
}

.button {
    margin-top   : 1rem;
    display      : inline-block;
    padding      : .5rem .75rem;
    padding-right: 2rem;
    background   : linear-gradient(130deg, #f00 93%, transparent 90%);
    color        : #fff;
    cursor       : pointer;
    font-size    : .75rem;

}

.button:hover {
    -webkit-transform: scale(1.1);
    transform        : scale(1.1);
}

.button--custom {
    margin: auto auto auto 0;
}

.section {
    padding: 4.5rem 0 1rem;
}

.section_title,
.section_title-center {
    font-size    : var(--h2-font-size);
    margin-bottom: var(--mb-2);
    line-height  : 140%;
}

.section_title-center {
    text-align: center;
}

.container {
    max-width   : 1020px;
    margin-left : var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
    /*For animation*/
}


/*=============== HEADER ===============*/
.header {
    width           : 100%;
    position        : fixed;
    background-color: var(--body-color);
    left            : 0;
    top             : 0;
    z-index         : 1000;
}

.nav {
    height         : var(--header-height);
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.nav__toggle,
.nav__close {
    color: var(--title-color);
}

.nav__logo {
    font-weight   : 600;
    text-transform: uppercase;
    display       : inline-flex;
    align-items   : center;
    color         : var(--title-color);
    font-size     : var(--h2-font-size);
    transition    : .3s;
}

.nav__logo-part {
    color: var(--first-color-alt);
}

.nav__logo:hover {
    color: #aaa79e;
}

.nav__toggle {
    font-size  : 1.25rem;
    cursor     : pointer;
    display    : inline-flex;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position        : fixed;
        width           : 70%;
        background-color: var(--body-color);
        top             : 0;
        right           : -100%;
        height          : 100%;
        border-radius   : 1rem 0 0 1rem;
        padding         : 4rem 0 0 2rem;
        transition      : .3s;
        z-index         : 1000;
        box-shadow      : -2px 0 4px rgb(228, 9, 9);
    }

    .nav__list {
        display: grid;
        row-gap: 1.25rem;
    }

    .nav__link {
        font-size : var(--font-medium);
        color     : var(--title-color);
        transition: .3s;
    }

    .nav__link:hover {
        color: var(--text-color-light);
    }

    .nav__close {
        position : absolute;
        top      : 1rem;
        right    : 1.25rem;
        font-size: 1.5rem;
        cursor   : pointer;
    }

    /* Show menu */
    .show-menu {
        right: 0;
    }

    .scroll-header {
        box-shadow: 0 1px 4px rgb(95, 8, 8);
    }
}

/*=============== HOME ===============*/

.home__container {
    row-gap : 2rem;
    position: relative;
}

.home__slider {
    width: 100%;
}

.slide {
    align-items        : center;
    position           : relative;
    background         : hsl(0, 72%, 37%);
    min-height         : 70vh;
    background-size    : cover !important;
    background-position: center !important;
    display            : -webkit-box;
    display            : -ms-flexbox;
    display            : flex;
    -webkit-box-align  : center;
    -ms-flex-align     : center;
    align-items        : center;
    align-items        : center;
}

.slide__content {
    margin   : auto;
    display  : inline-block;
    position : absolute;
    width    : 70%;
    left     : 0;
    top      : 50%;
    transform: translateY(-50%);
    padding  : 0 0 0 1rem;
}

.slide__title {
    font-size    : var(--small-font-size);
    color        : var(--first-color-alt);
    margin-bottom: var(--mb-0-5);
    font-weight  : 500;
}

.slide__description {
    color: var(--title-color);
}

.swiper-pagination-bullet {
    height       : .75rem;
    width        : .75rem;
    background   : #fff;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    background: hsl(0, 72%, 37%);
}

/*=============== ABOUT ===============*/

.about__container {
    display: grid;
    row-gap: 2rem;
}

.about__box-img {
    position     : relative;
    z-index      : 1;
    margin-bottom: var(--mb-1);
    max-width    : 80%;
    min-width    : auto;
    margin       : auto;
}

.about__box-img::after,
.about__box-img::before {
    content   : '';
    position  : absolute;
    background: var(--first-color);
    width     : 8rem;
    height    : 8rem;
    z-index   : -1;
}

.about__box-img::after {
    top : 0;
    left: 0;
}

.about__box-img::before {
    bottom: 0;
    right : 0;
}


.about__img {
    width  : 100%;
    padding: 1rem;
}

.about__box-data {
    display: grid;
    row-gap: 1rem;
}

.about__header {
    display: grid;
    row-gap: .5rem;
}

.about__it {
    color    : var(--first-color-alt);
    font-size: var(--small-font-size);
}

.about__title {
    font-size  : var(--h2-font-size);
    font-weight: 400;
    color      : var(--title-color);
}

.about__description {
    font-size: var(--small-font-size);
}

.about__content {
    display: grid;
    row-gap: 1rem;
}

.about__item {
    display: grid;
    row-gap: .75rem;
}

.about__item-header {
    display    : inline-flex;
    align-items: center;
    column-gap : .75rem;
}

.about__item-icon {
    color      : var(--first-color);
    font-size  : 1.2rem;
    font-weight: 700;
}

.about__item-title {
    font-size  : var(--normal-font-size);
    font-weight: 400;
}

.about__item-description {
    font-size: var(--small-font-size);
}

.button--custom {
    min-width: 110px;
}







/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-left : .5rem;
        margin-right: .5rem;
    }

    .slide {
        min-height: 60vh;
    }

    .button {
        padding: .2rem 1rem;
    }


    .button--custom {
        margin: auto auto auto 0;
    }

    .about__title {
        font-size: var(--h2-font-size);

    }

    .about__description {
        font-size: var(--smaller-font-size);
    }

    .about__item {
        row-gap: .5rem;
    }

    .about__item-title {
        font-size: var(--small-font-size);
    }

    .about__item-description {
        font-size: var(--smaller-font-size);
    }

    .about__box-img {
        max-width: 100%;
    }
}

/* For medium devices */
/* =======================576============================ */

@media screen and (min-width: 576px) {


    .slide__description {
        font-size: var(--h1-font-size);
    }


    .button--custom {
        margin: auto auto auto 0;
    }
}


/* =======================767============================ */

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .container {
        margin-left : var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .nav {
        height    : calc(var(--header-height) + 1.5rem);
        column-gap: 3rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        display       : flex;
        flex-direction: row;
        column-gap    : 1.5rem;
    }

    .nav__link {
        color: var(--title-color);
    }

    .nav__menu {
        margin-left: auto;
    }

    .home {
        margin-top: calc(var(--header-height) + 1.5rem);
    }

    .slide__content {
        width  : 56%;
        padding: 0 0 0 3rem;
    }

    .slide__title {
        font-size: var(--normal-font-size);
    }

    .slide__description {
        font-size: var(--big-font-size);
    }

    .button {
        padding  : .5rem 2rem;
        font-size: var(--normal-font-size);
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap           : 3rem;
    }

    .about__content {
        grid-template-columns: 50% 50%;
        grid-template-rows   : 50% 50%;
        gap                  : .2rem .5rem;
    }

    .about__box-data {
        align-items: center;
        padding    : 1.5rem;
    }


    .about__it {
        font-size: var(--small-font-size);
    }

    .about__title {
        font-size: var(--h2-font-size);

    }

    .about__description {
        font-size: var(--smaller-font-size);
    }

    .about__item {
        row-gap: .1rem;
    }

    .about__box-img {
        max-width: 100%;
    }

    .about__item-title {
        font-size: var(--small-font-size);
    }

    .about__item-description {
        font-size: var(--smaller-font-size);
    }


}

/* For large devices */
/* =======================992============================ */
@media screen and (min-width: 992px) {
    .container {
        margin-left : auto;
        margin-right: auto;
    }

    .section {
        padding: 4.5rem 0 1rem;
    }

    .nav__list {
        column-gap: 2.5rem;
    }

    .slide {
        min-height: 65vh;
    }

    .slide__content {
        width  : 50%;
        padding: 0 0 0 5rem;
    }

    .slide__description {
        font-size: var(--big-font-size);
    }

    /* ============ */

    .about__header {
        row-gap: .5rem;
    }

    .about__it {
        font-size  : var(--normal-font-size);
        font-weight: 600;
    }

    .about__title {
        font-size: var(--h1-font-size);

    }

    .about__description {
        font-size: var(--small-font-size);
    }

    .about__box-data {
        row-gap: .75rem;
        padding: 1rem;
    }

    .about__content {
        gap: .75rem 1rem;
    }

    .about__item {
        row-gap: .1rem;
    }

    .about__item-title {
        font-size: var(--h3-font-size);
    }

    .about__item-description {
        font-size: var(--small-font-size);
    }

}

/* =======================1200============================ */

@media screen and (min-width: 1200px) {

    .slide {
        min-height: 70vh;
    }


    .slide__content {
        padding: 0 0 0 5rem;
    }

    .about__box-data {
        padding: 0;
    }
}